<!DOCTYPE html>
<html>
    <head>
        <title><%= application_name %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="<%= rootpath %>/stylesheets/style.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <%- include('./include/header'); %>
        <%- include('./include/message'); %>

        <div class="comment">
            <div>
                <label for="video-select">カメラデバイスを選択:</label>
                <select id="video-select"></select>
            </div>
            <div>
                <label for="audio-select">マイクデバイスを選択:</label>
                <select id="audio-select"></select>
            </div>
            <p>ID: <span id="my-id"></span></p>
            <div>
                <input id="_csrf" type="hidden" value="<%= csrfToken %>">
                room name: <input id="room-name" type="text" /><br>
                user name: <input id="user-name" type="text" /><br>
                <button id="join">join</button>
                <button id="leave">leave</button>
            </div>

            <button id="toggle-video">カメラをONにする</button>
            <button id="toggle-audio">ボイスチャットをONにする</button>
            <div id="button-area"></div>
            <div class="can-scroll">
                <span id="log-area"></span>
            </div>
        </div>
        <div class="skyway-remote-video">
            <div id="remote-media-area"></div>
            <div><video id="local-video" muted playsinline></video>
        </div>

        <%- include('./include/footer'); %>

        <script src="<%= rootpath %>/javascripts/skyway.bundle.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
    </body>
</html>
