<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>WEB認証</title>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    </head>
    <body>
        <%- include('./include/header'); %>

        <a class="font0-75 under"><% if (typeof username !== 'undefined' { %><%= username %><% } else { %><%= 'ななし' %><% } %>"さん、ようこそ</a>

        <div class="container">
            <%- include('./include/message'); %>
            <div class="wrapper">
                サーバーに参加し、認証コードを入力してWEB認証を完了してください。
            </div>
            <form action="" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <label>MCID</label>
                <input readonly required type="text" name="mcid" value="<% if (typeof mcid !== 'undefined' { %><%= mcid %><% } else { %><%= '自動入力' %><% } %>"/>
                <br>
                <label>UUID</label>
                <input readonly required type="text" name="uuid" value="<% if (typeof uuid !== 'undefined' { %><%= uuid %><% } else { %><%= '自動入力' %><% } %>"/>
                <br>
                <label>ワンタイムパスワード</label>
                <input id="focus" required type="text" name="pass" placeholder="6桁の半角数字を入力" pattern="\d" maxlength="6"/>
                <br>
                <% if (isAuth) { %>
                    <input class="btn btn-primary" type="submit" value="認証"/>
                <% } else { %>
                    <input id="alert" class="btn btn-primary" type="submit" value="&#x1F512;認証"/>
                    <script src="/javascripts/alert.js"></script>
                <% } %>
            </form>
        </div>

        <%- include('./include/footer'); %>

        <script src="/javascripts/focus.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
    </body>
</html>

