<footer class="Footer">
    <div class="simple-flex">
        <a href="<%= discord_url %>"><img class="logo-image" src="<%= rootpath %>/images/logo/discord/full_logo_blurple_RGB.svg"></a>
        <a href="<%= webapp_git_repo_url %>"><img class="logo-image" src="<%= rootpath %>/images/logo/github/GitHub_Logo_White.png"></a>
    </div>
    <small class="Copyright">&copy; <%= org_year %> <%= org_name %></small>
</footer>
