<a href='<%= config.server.url %>'>
  <img width='60%' height='auto' src='<%= config.server.url %>'>
</a>
<br><br>
<%= config.comment %>
<br>
<a href="<%= config.email_redirect_url %>"><%= config.email_redirect_url %></a><br>
<br><br><br>
もし、このメールが不本意に送られていた場合、
<br>
お手数ですが、こちらのメールに返信してお問い合わせしてくださいませ。
<br><br>
<a href='<%= config.server.url %>'>
  <div style='color:#808080;text-align:center;'>
    <u>Copyright &copy; <%= config.year %> <%= config.name %></u>
  </div>
</a>
